node_modules
dist
bun.lockb
bun-cache
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.development
.env.test
.env.production
# pending `workflow` OAuth scope before this can be pushed
.github/workflows/deploy.yml
